body{
    margin: 0;
    background: #222;
}

.content {
    height: 10000px
}

footer{
    background: lightseagreen;
    position: fixed;
    padding-top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    font-size: 18px;
}

.reseau:hover{
    color: black;
    border: 2px;
}

.adresse{
    color: #444;
}
.reseau{ 
    color: #444;
}
