.body1{
    margin: 0;
    background:#232826;
}

.body2{
    background:white;
}

/* .content {
    height: 10000px
} */

footer{
    background: #7EA0B7;
    position: relative;
    padding-top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 135px;
    font-size: 18px;
}

.reseau:hover{
    color: black;
    border: 2px;
}

.adresse{
    color: rgb(51, 51, 51);
}
.reseau{ 
    color: rgb(51, 51, 51);
}

.presentationgen{
    color: black;
    margin: 30px;
    border: black solid 1px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(126, 160, 183, 0.95);
    position: relative;
    font-size: 20px;
}

.presentationent{
    color: whitesmoke;
    margin: 30px;
    border: grey solid 1px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(105, 105, 105, 0.95);
    position: relative;
    font-size: 18px;
}

.titrepresent{
    color: whitesmoke;
    border: grey solid 1px;

    border-radius: 10px;
    background:rgb(105, 105, 105, 0.95);
    position: relative;
    
}
.titreent{
    color: whitesmoke;
}

.titreent2{
    text-align: center;
    position: relative;
}


.imgpp{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
}

.imgpres{
    width: 100%;
	height: auto;
    position: absolute;
}

.espacebas{
    height: 100px;
    position: relative;
}

.espacehaut{
    height: 100px;
    position: relative;
}

.espacehaut2{
    height: 80px;
    position: relative;
}

.titrepage{
    position: relative;
    font-size: 30px;
    color: rgb(51, 51, 51);;
}

.mission{
     border: black solid 1px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.competitre{
    color: whitesmoke;
}

.camenbert{
    color: whitesmoke;
}

.hrcompt{
    color: whitesmoke;
}

.competence{
    color: whitesmoke;
    margin: 30px;
    border: grey solid 1px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(105, 105, 105);
    position: relative;
}

.icocomp{
    font-size: 60px;
    padding-top: 30px;
}

comp2{


}